<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
    <script src="/navigation.js"></script>
    
  </head>
  <body ng-app="myApp">
    <div navbar></div>
    <div class="container-fluid col-xs-12 col-sm-10 col-sm-offset-1 page-container">  
      <div class="row card">
        <div class="col-xs-12 custom-page-header">
          <h1>Software Development Experience</h1>  
          <br/>
          <div class="col-xs-12 custom-page-header-text">
            <h4>21 Months of Full-Time Experience?</h4>
            <p align="justify">I have worked 3 full-time software development interships in the past 3 years as a part of earning my undergraduate degree ammounting in 21 months of experience (These internships are called co-ops). The first co-op was with Goldman Sachs and the second and third co-ops were with an inbound marketing automation company called HubSpot. The details of these co-ops are described below. I learned as much if not more on these co-ops than I do when I am in classes, and the experience has helped me to focus my studies and reaffirmed that I am certainly in the right field.</p> 
            <p align="justify">Each co-op presented different challenges, both technically and professionally and I have no doubt that the experience I’ve gained will be invaluable as I seek full-time employment for July 2017.</p> 
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header row">  
          <h2 class="col-xs-12 col-sm-3 col-lg-2 card-header">HubSpot</h2> 
          <h4 class="col-sm-9 card-sub-header">June 2016 - Dec 2016</h4> 
        </div>
        <div class="row">
          <img align="left" class="col-xs-4 col-sm-3 col-lg-2  img-rounded img-responsive card-img" src="/img/hubspotLogo.png" alt="logos">
          <p class="card-description" align="justify">I have worked 3 full-time software development interships in the past 3 years as a part of earning my undergraduate degree ammounting in 21 months of experience (These internships are called co-ops). The first co-op was with Goldman Sachs and the second and third co-ops were with an inbound marketing automation company called HubSpot. The details of these co-ops are described below. I learned as much if not more on these co-ops than I do when I am in classes, and the experience has helped me to focus my studies and reaffirmed that I am certainly in the right field.</p> 
        </div>
      </div>
      <div class="card">
        <div class="card-header row">  
          <h2 class="col-xs-12 col-sm-3 col-lg-2 card-header">Goldman Sachs</h2> 
          <h4 class="col-sm-9 card-sub-header">May 2015 - Dec 2015</h4> 
        </div>
        <div class="row">
          <img align="left" class="col-xs-4 col-sm-3 col-lg-2 img-rounded img-responsive card-img" src="/img/hubspotLogo.png" alt="logos">
          <p class="card-description" align="justify">I have worked 3 full-time software development interships in the past 3 years as a part of earning my undergraduate degree ammounting in 21 months of experience (These internships are called co-ops). The first co-op was with Goldman Sachs and the second and third co-ops were with an inbound marketing automation company called HubSpot. The details of these co-ops are described below. I learned as much if not more on these co-ops than I do when I am in classes, and the experience has helped me to focus my studies and reaffirmed that I am certainly in the right field.</p> 
        </div>
      </div>
    </div>
  </body>
</html>