<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
    <script src="/navigation.js"></script>
    
  </head>
  <body ng-app="myApp">
    <div navbar></div>
    <div class="container-fluid col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1 page-container">  
      <div class="row">
        <div class="col-xs-12 custom-page-header">
          <h1>Software Development Experience</h1>  
          <br/>
          <div class="col-xs-12 custom-page-header-text">
            <h4>21 Months of Full-Time Experience?</h4>
            <p align="justify">I completed three full-time software development interships in the past three years as a part of earning my undergraduate degree ammounting in twenty-one months of experience (These internships are called co-ops at Northeastern University). The first co-op was with Goldman Sachs and the second and third co-ops were with an inbound marketing automation company called HubSpot. The details of these co-ops are described below. I learned as much if not more on these co-ops as I do than when I am in classes, and the experience has helped me to focus my studies and reaffirmed that I am certainly in the right field.</p> 
            <p align="justify">Each co-op presented different challenges, both technically and professionally and I have no doubt that the experience I’ve gained will be invaluable as I seek full-time employment for July 2017. Once I gain enough experience I hope to be able to leverage the management half of my degree and leadership experience and become a Tech Lead.</p> 
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header row">  
          <h2 class="col-xs-12 col-sm-3 col-lg-2 card-header">HubSpot</h2>
          <h4 class="col-sm-9 card-sub-header">June 2016 - Dec 2016</h4> 
        </div>
        <div class="row">
          <img align="left" class="col-xs-4 col-sm-3 col-lg-2  img-rounded img-responsive card-img" src="/img/hubspotLogo.png" alt="logos">
          <p class="card-description" align="justify">June 2016 – December 2016 (7 months)Cambridge, Massachusetts
          At HubSpot, I worked on the Blog Publishing team maintaining and building the blog portion of HubSpot's product. I utilized frameworks like Dropwizard, Guice, Jackson, Mockito, and JUnit to build maintainable and powerful RESTful services building on my experience with these frameworks from my experience with my first co-op with HubSpot.</p>

          <p class="card-description">In August, I started building HubSpot's new Accelerated Mobile Pages product offering. The message to customers was that by simply turning AMP on, all of their blog posts, old and new would be published as google AMP content. I wrote about 80% of the code for the product in conjunction with a tech lead and senior engineer that both worked remotely from different cities. The product was announced at Inbound 16 and customer reactions are viewable here: https://twitter.com/search?q=%23inbound16%20amp&src=typd&lang=en</p>

          <p class="card-description">I also maintained and added a variety of changes to the Blog Team's Front End React and Flux applications.</p>  
        </div>
      </div>
      <div class="card">
        <div class="card-header row">  
          <h2 class="col-xs-12 col-sm-3 col-lg-2 card-header">HubSpot</h2>
          <h4 class="col-sm-9 card-sub-header">May 2015 - Dec 2015</h4> 
        </div>
        <div class="row">
          <img align="left" class="col-xs-4 col-sm-3 col-lg-2  img-rounded img-responsive card-img" src="/img/hubspotLogo.png" alt="logos">
          <p class="card-description" align="justify">Built an application from the ground up for HubSpot's legal team. The backend is Java and uses Liquibase, Rosetta, Mockito, etc to increase readability and keep code robust. The frontend utilizes es6, React, Flux to keep the app fast and well structured.</p> 

          <p class="card-description" align="justify">For style guides I defer to "Effective Java" and Google for my backend restful service; I defer to Facebook and AirBnb style guides for my frontend.</p>

          <p class="card-description" align="justify">Before starting at HubSpot I had never seen most of the technologies and design patterns I am fluent in today. In addition to owning the legal app, I commented on co-workers PRs frequently and maintained other existing apps core to HubSpot's billing systems.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header row">  
          <h2 class="col-xs-12 col-sm-3 col-lg-2 card-header">Goldman Sachs</h2> 
          <h4 class="col-sm-9 card-sub-header">July 2014 - Dec 2014</h4> 
        </div>
        <div class="row">
          <img align="left" class="col-xs-4 col-sm-3 col-lg-2 img-rounded img-responsive card-img" src="/img/goldmanLogo.png" alt="logos">
          <p class="card-description" align="justify">At Goldman I worked in a software dev team of 10 people to design and deliver reporting software to both internal users and external consumers.  I worked primarily with Java, SQL, and VBA, but I also used Perl for back end scripting projects.  I developed software through all steps of the software development life cycle all the way to production where I ensured user satisfaction.</p> 
        </div>
      </div>
    </div>
  </body>
</html>