h3 {
	color: dimgrey;
}

h4 {
	color: dimgrey;
}

h4.card-sub-header {
	margin-top:31px;
}

img.profile-img {
	max-height: 300px;
}

img.card-img {
	margin-right: 15px;
}

div.card {

}

p { 
   text-indent: 30px;
   font-weight: 500;
}

p.card-description {
	padding: 0 30px;
	text-indent: 0px;
	
}

div.card {
	border-style: solid;
    border-width: 0 0 1;
    border-color: darkgrey;
    padding-bottom: 2vw;
}