<div ng-controller="Ctrl1">
  <nav class="navbar navbar-default" role="navigation" style="padding-left:20px;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand nav-text" href="/">Ray's Space</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right"> 
          <li ng-repeat="navHeader in navBarData">
            <a ng-if="navHeader.isDropdown" href="/{{navHeader.path}}" class="dropdown-toggle nav-text" data-toggle="dropdown">{{navHeader.name}}<b class="caret"></b></a>
            <ul ng-if="navHeader.isDropdown" class="dropdown-menu">
              <li ng-repeat="value in navHeader.dropdownValues">
                <a href="#">{{value}}</a>
              </li>
            </ul>
            <a ng-if="!navHeader.isDropdown" class="nav-text" href="{{navHeader.path}}">{{navHeader.name}}</a>
          </li>                  
        </ul>
      </div>
    </div>
  </nav>
</div>